*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #364958;
}

h1, p {
    color: #87bba2;
}

.chord {
    position: relative;
    display: inline-block;
}

.chord_select {
    display: block;
    padding: 8px
}

.chord_select:hover {
    background-color: #ddd;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {
    display:block;
    padding: 10px 10px;
    width: 170px;
    z-index: 4;
    position: absolute;
}

.drop_btn {
    background-color: #48233C;
    color: #87bba2;
    padding: 13px;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.drop_btn:hover, .drop_btn:focus {
    background-color: #40376E;
  }

.container {
    margin: 0;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blackLabel {
    text-align: center;
    margin-top: 20px;
    color: white;
    background: transparent;
}

.whiteLabel {
    text-align: center;
    margin-top: 70px;
    background: transparent;
}

#keyboard {
    display: flex;
}

.key {
    border: solid #000;
    border-width: 0 1px;
}

.black {
    width: 25px;
    height: 100px;
    background-color: black;
    margin-left: -13px;
    margin-right: -13px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    width: 50px;
    height: 200px;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}